In [1]:
import pandas as pd

In [38]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

In [44]:
df

   A  B
0  4  9
1  4  9
2  4  9

In [6]:
import numpy as np

In [43]:
df['A'].apply(np.sqrt)

0    2.0
1    2.0
2    2.0
Name: A, dtype: float64

In [40]:
df.apply(np.sum, axis=1)

0    13
1    13
2    13
dtype: int64

In [41]:
df.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [8]:
# MAP, FILTER, REDUCE

In [15]:
# MAP : Liste => Liste de même longueur

In [9]:
l = [3, 8, 1, 2]

In [10]:
[x + 2 for x in l]

[5, 10, 3, 4]

In [12]:
list(map(lambda x: x + 2, l))

[5, 10, 3, 4]

In [13]:
def add_2(x):
    return x + 2

In [14]:
list(map(add_2, l))

[5, 10, 3, 4]

In [16]:
# FILTER : Liste => Liste en général plus petite

In [17]:
l = ['qdlqidjdz', 'Jzlqijdqz', 'ljq98', 'LIJLIU']

In [21]:
list(filter(lambda x : x[0].isupper(), l))

['Jzlqijdqz', 'LIJLIU']

In [22]:
[x for x in l if x[0].isupper()]

['Jzlqijdqz', 'LIJLIU']

In [23]:
# REDUCE : Liste => une valeur

In [24]:
l = [4, 5, 0, 3, 9]

In [26]:
from functools import reduce

In [27]:
reduce(lambda x, y: x + y, l)

21

In [28]:
def add_(x, y):
    return x + y

In [29]:
# add_(4, 5) = 9
# add_(add_(4, 5), 0) = 9
# add_(add_(add_(4, 5), 0), 3) = 12
# add_(add_(add_(add_(4, 5), 0), 3), 9) = 21

In [30]:
# factorielle de N = N! = 1 * 2 * 3 * 4 * ... * N

In [33]:
l = range(1, 10)

In [34]:
reduce(lambda x, y: x * y, l)

362880

In [35]:
# Suite de fibonacci
# u0 = 1
# u1 = 2
# u(n + 2) = u(n) + u(n + 1)

In [36]:
def fibonacci(n):
    if n == 0:
        return 1
    if n == 1:
        return 2
    if n > 1:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [37]:
fibonacci(5)

13