In [60]:
# tuples
# dicts
# sets

In [61]:
# rappel sur les listes
l = ['alice', 'bob', 'charles']

In [62]:
l[0]

'alice'

In [63]:
len(l)

3

In [64]:
l.append("doug")

In [65]:
l

['alice', 'bob', 'charles', 'doug']

In [66]:
l[1] = 'alfred'

In [67]:
l

['alice', 'alfred', 'charles', 'doug']

In [68]:
# tuples

In [69]:
t = ("alice", "bob", "charles")

In [70]:
len(t)

3

In [71]:
# immutable

In [72]:
t.append("doug")

AttributeError: 'tuple' object has no attribute 'append'

In [73]:
t[1] = 'alfred'

TypeError: 'tuple' object does not support item assignment

In [74]:
for name in t:
    print(name)

alice
bob
charles

In [75]:
# dicts

In [76]:
d = {'alice': 26, 'bob': 30, 'charles': 40}

In [77]:
d[0]

KeyError: 0

In [78]:
d['alice']

26

In [79]:
d['alfred'] = 40

In [80]:
d

{'alice': 26, 'bob': 30, 'charles': 40, 'alfred': 40}

In [81]:
del d['alfred']

In [82]:
d.items()

dict_items([('alice', 26), ('bob', 30), ('charles', 40)])

In [83]:
d.keys()

dict_keys(['alice', 'bob', 'charles'])

In [84]:
d.values()

dict_values([26, 30, 40])

In [85]:
for k, v in d.items():
    print(k, v)

alice 26
bob 30
charles 40

In [ ]:
# dictionnaires, et sets : non tri√©s

In [86]:
for k in sorted(d.keys(), reverse=True):
    print(k)

charles
bob
alice

In [ ]:
# dict comprehensions

In [87]:
d2 = {k: i for k, i in zip(l, range(len(l)))}

In [88]:
d2

{'alice': 0, 'alfred': 1, 'charles': 2, 'doug': 3}

In [89]:
for k, i in zip(l, range(len(l))):
    print(k, i)

alice 0
alfred 1
charles 2
doug 3

In [90]:
# sets

In [91]:
names = set()

In [92]:
names.add('alice')

In [93]:
names.add('bob')

In [94]:
'alice' in names

True

In [95]:
'alfred' in names

False

In [96]:
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

In [97]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [98]:
a

{'d', 'r'}

In [ ]:
# unions, intersections, difference

In [99]:
a = set('abracadabra')

In [100]:
b = set('elementaire')

In [101]:
a

{'a', 'b', 'c', 'd', 'r'}

In [102]:
b

{'a', 'e', 'i', 'l', 'm', 'n', 'r', 't'}

In [103]:
a.union(b)

{'a', 'b', 'c', 'd', 'e', 'i', 'l', 'm', 'n', 'r', 't'}

In [104]:
a.intersection(b)

{'a', 'r'}

In [105]:
a - b

{'b', 'c', 'd'}

In [106]:
b - a

{'e', 'i', 'l', 'm', 'n', 't'}

In [107]:
l = ['jean', 'marc', 'alice']

In [108]:
ages = [30, 25, 36]

In [109]:
for name, age in zip(l, ages):
    print(name, age)

jean 30
marc 25
alice 36

In [110]:
d2 = {name: age for name, age in zip(l, ages)}

In [111]:
d2

{'jean': 30, 'marc': 25, 'alice': 36}

In [112]:
names = set()

In [113]:
names = {}

In [114]:
names["jean"] = 30

In [115]:
names

{'jean': 30}

In [116]:
names = set()

In [117]:
names["jean"] = 30

TypeError: 'set' object does not support item assignment

In [118]:
names

set()

In [119]:
names = {}

In [120]:
name = set(['a', 'b'])
age = set(['c', 'd'])

In [123]:
name

{'a', 'b'}

In [124]:
age

{'c', 'd'}

In [125]:
name + age

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [131]:
tup1 = ('a', 'b')
tup2 = ('c', 'd')

In [127]:
tup1 + tup2

('a', 'b', 'c', 'd')

In [128]:
tup1 = tup1 + tup2

In [129]:
tup1

('a', 'b', 'c', 'd')

In [130]:
id(tup1)

4451550512

In [132]:
id(tup1)

4449657952

In [133]:
tup1 = tup1 + tup2

In [134]:
id(tup1)

4451586416

In [137]:
l = ['a', 'b']

In [138]:
id(l)

4451596160

In [139]:
l.append('c')

In [140]:
id(l)

4451596160

In [141]:
# tuple sont immutables contrairement aux listes

In [145]:
tup1 = ('a', 'b')
tup2 = ('c', 'd')

In [146]:
id(tup1)

4449663008

In [147]:
tup1 = tup1 + tup2

In [148]:
id(tup1)

4451593776

In [149]:
l = ['a', 'b']

In [150]:
id(l)

4451729968

In [151]:
l.append('c')

In [152]:
id(l)

4451729968

In [153]:
c = 'abc'

In [154]:
id(c)

4412183408

In [155]:
c += 'd'

In [156]:
c

'abcd'

In [157]:
id(c)

4451767664

In [158]:
a = set(['a', 'b'])

In [159]:
b = set(['a', 'b', 'c'])

In [160]:
a - b

set()

In [2]:
[(i, j) for i in range(10) for j in range(10) if i >= j]

[(0, 0),
 (1, 0),
 (1, 1),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [3]:
# tuple
# sets
# dicts

In [4]:
# tuples

In [5]:
l = [2, 4, 5]

In [6]:
l.append(8)

In [7]:
l

[2, 4, 5, 8]

In [8]:
l[2] = 3

In [9]:
l

[2, 4, 3, 8]

In [10]:
t = (3, 5, 1)

In [11]:
t[0] = 7

TypeError: 'tuple' object does not support item assignment

In [12]:
t[0]

3

In [13]:
# tuples sont "immutables" (on ne peut modifier leur valeur)

In [14]:
# tuples : souvent une s√©quence d'objets h√©t√©rog√®nes, c√†d pas de m√™me type, et assez statiques
# listes : souvent s√©quence homog√®ne, et qu'on peut changer dynamiquement

In [15]:
t = ('test', 3, [3.5, 7])

In [16]:
t

('test', 3, [3.5, 7])

In [17]:
t[0]

'test'

In [18]:
name, number, liste = t

In [19]:
name

'test'

In [20]:
number

3

In [21]:
liste

[3.5, 7]

In [22]:
empty = ()

In [23]:
singleton = 'singleton',

In [24]:
len(singleton)

1

In [25]:
len(empty)

0

In [27]:
t = (singleton, empty)

In [28]:
t

(('singleton',), ())

In [26]:
# set

In [29]:
# ensemble non ordonn√©, qui ne poss√®de pas de doublon

In [30]:
basket = {'banana', 'orange', 'apple'}

In [31]:
basket = {'banana', 'banana'}

In [32]:
basket

{'banana'}

In [33]:
import numpy as np

In [37]:
l = list(np.random.randint(10, size=100))

In [39]:
print(l)

[6, 4, 2, 5, 8, 6, 9, 9, 3, 6, 0, 0, 8, 7, 6, 9, 1, 8, 0, 2, 1, 8, 7, 8, 0, 5, 5, 5, 3, 3, 1, 4, 2, 1, 0, 9, 7, 4, 0, 6, 2, 8, 5, 6, 6, 5, 9, 9, 6, 8, 1, 1, 8, 9, 4, 8, 3, 6, 0, 6, 1, 1, 8, 4, 2, 9, 3, 1, 1, 1, 3, 8, 5, 7, 1, 8, 7, 5, 5, 6, 0, 4, 9, 7, 6, 3, 1, 8, 4, 5, 8, 4, 2, 1, 9, 6, 1, 0, 3, 6]

In [40]:
set(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
len(set(l))

10

In [42]:
# 1√®re utilisation typique du set : d√©doublonner les valeurs d'une liste

In [43]:
# 2√®me utilisation : tester l'appartenance d'une valeur √† un ensemble de valeurs

In [44]:
12 in l

False

In [45]:
8 in l

True

In [46]:
unique = set(l)

In [47]:
12 in unique

False

In [48]:
8 in unique

True

In [49]:
# temps de recherche d'une valeur dans une liste = temps proportionnel √† la longueur de la liste = complexit√© lin√©aire = O(N) o√π N = len(liste)

In [50]:
# temps de recheche d'une valeur dans un set = temps constant = O(1) (bcp plus rapide)

In [51]:
# dict : set de couple (cl√©, valeur), avec la particularit√© que les cl√©s doivent √™tre uniques

In [52]:
# dict : association entre cl√© et valeur

In [67]:
d = {'jm': 32, 'antoine': 27, 'alice': 40}

In [54]:
'jm' in d

True

In [55]:
'helene' in d

False

In [56]:
del d['jm']

In [57]:
d

{'antoine': 27, 'alice': 40}

In [58]:
# it√©rer sur les √©l√©ments de tuples, set et dict

In [59]:
t = (1, 3, 4, 5)

In [60]:
for x in t:
    print(x)

1
3
4
5

In [62]:
unique

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
for x in unique:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [66]:
for i, x in enumerate(l):
    print(i, x)
    break

0 6

In [68]:
for k in d.keys():
    print(k)

jm
antoine
alice

In [70]:
for v in d.values():
    print(v)

32
27
40

In [73]:
for k,v in d.items():
    print(f'{k} : {v}')

jm : 32
antoine : 27
alice : 40

In [74]:
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

In [75]:
list(set('abracadabra'))

['r', 'd', 'b', 'a', 'c']

In [76]:
l1 = ['A', 'B', 'C']
l2 = '123'

In [77]:
for x, y in zip(l1, l2):
    print(x, y)

A 1
B 2
C 3

In [81]:
??sorted

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [83]:
for x in sorted(l, reverse=True):
    print(x)
    break

9

In [84]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [85]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [87]:
for x in reversed('abracadabra'):
    print(x)

a
r
b
a
d
a
c
a
r
b
a

In [88]:
for x in sorted('abracadabra'):
    print(x)

a
a
a
a
a
b
b
c
d
r
r

In [89]:
# dict/set comprehensions

In [97]:
{k: v for k, v in enumerate(range(4, 14))} # dict comprehension

{0: 4, 1: 5, 2: 6, 3: 7, 4: 8, 5: 9, 6: 10, 7: 11, 8: 12, 9: 13}

In [96]:
{x for x in l} # tuple comprehension

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
t = (x for x in l[:10])

In [95]:
for x in t:
    print(x)

6
4
2
5
8
6
9
9
3
6

In [98]:
# include, comprise, or encompass.
#"a divine order comprehending all men"

In [107]:
set6 = set()

In [108]:
set3 = {'test', 'test2'}
set5 = {'test3'}

In [109]:
set6.update(set3)

In [106]:
set6

{}