In [1]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
[(i, j) for j in range(10) for i in range(10)]

[(0, 0),
 (1, 0),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0),
 (0, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (0, 2),
 (1, 2),
 (2, 2),
 (3, 2),
 (4, 2),
 (5, 2),
 (6, 2),
 (7, 2),
 (8, 2),
 (9, 2),
 (0, 3),
 (1, 3),
 (2, 3),
 (3, 3),
 (4, 3),
 (5, 3),
 (6, 3),
 (7, 3),
 (8, 3),
 (9, 3),
 (0, 4),
 (1, 4),
 (2, 4),
 (3, 4),
 (4, 4),
 (5, 4),
 (6, 4),
 (7, 4),
 (8, 4),
 (9, 4),
 (0, 5),
 (1, 5),
 (2, 5),
 (3, 5),
 (4, 5),
 (5, 5),
 (6, 5),
 (7, 5),
 (8, 5),
 (9, 5),
 (0, 6),
 (1, 6),
 (2, 6),
 (3, 6),
 (4, 6),
 (5, 6),
 (6, 6),
 (7, 6),
 (8, 6),
 (9, 6),
 (0, 7),
 (1, 7),
 (2, 7),
 (3, 7),
 (4, 7),
 (5, 7),
 (6, 7),
 (7, 7),
 (8, 7),
 (9, 7),
 (0, 8),
 (1, 8),
 (2, 8),
 (3, 8),
 (4, 8),
 (5, 8),
 (6, 8),
 (7, 8),
 (8, 8),
 (9, 8),
 (0, 9),
 (1, 9),
 (2, 9),
 (3, 9),
 (4, 9),
 (5, 9),
 (6, 9),
 (7, 9),
 (8, 9),
 (9, 9)]

In [4]:
[(i, j) for j in range(10) for i in range(10) if i<j]

[(0, 1),
 (0, 2),
 (1, 2),
 (0, 3),
 (1, 3),
 (2, 3),
 (0, 4),
 (1, 4),
 (2, 4),
 (3, 4),
 (0, 5),
 (1, 5),
 (2, 5),
 (3, 5),
 (4, 5),
 (0, 6),
 (1, 6),
 (2, 6),
 (3, 6),
 (4, 6),
 (5, 6),
 (0, 7),
 (1, 7),
 (2, 7),
 (3, 7),
 (4, 7),
 (5, 7),
 (6, 7),
 (0, 8),
 (1, 8),
 (2, 8),
 (3, 8),
 (4, 8),
 (5, 8),
 (6, 8),
 (7, 8),
 (0, 9),
 (1, 9),
 (2, 9),
 (3, 9),
 (4, 9),
 (5, 9),
 (6, 9),
 (7, 9),
 (8, 9)]

In [5]:
[(i, j) for j in range(10) for i in range(10) if i<j and i>2]

[(3, 4),
 (3, 5),
 (4, 5),
 (3, 6),
 (4, 6),
 (5, 6),
 (3, 7),
 (4, 7),
 (5, 7),
 (6, 7),
 (3, 8),
 (4, 8),
 (5, 8),
 (6, 8),
 (7, 8),
 (3, 9),
 (4, 9),
 (5, 9),
 (6, 9),
 (7, 9),
 (8, 9)]

In [6]:
import os

In [7]:
file_list = [f for f in os.listdir('.') if f.endswith('.txt')]

In [8]:
file_list

['file_1.txt', 'file_2.txt', 'file_3.txt']

In [10]:
for line in open("file_1.txt", "r"):
    print(line.split())

['1', '2', '3']
['4', '5', '6']

In [13]:
[[int(x) for x in line.split()] for file in file_list for line in open(file, "r")]

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

# List Comprehensions

In [14]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
l = [i + 1 for i in range(10)]

In [18]:
l = []
for i in range(10):
    l.append(i + 1)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
[j for j in l if j % 2 == 0]

[2, 4, 6, 8, 10]

In [21]:
[j for j in l if j > 6]

[7, 8, 9, 10]

In [22]:
l2 = []
for j in l:
    if j > 6:
        l2.append(j)
print(l2)

[7, 8, 9, 10]

In [23]:
[(i, j) for i in range(10) for j in range(10)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [24]:
[(i, j) for i in range(10) for j in range(10) if i > j]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8)]

In [25]:
import os

In [33]:
file_list = [f for f in os.listdir('.') if f.endswith('.txt')]

In [31]:
for line in open('file_1.txt', 'r'):
    print([int(i) for i in line.split()])

[1, 2, 3]
[4, 5, 6]

In [34]:
[[int(i) for i in line.split()] for f in file_list for line in open(f, 'r')]

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [37]:
[[int(i) for i in line.split()] for f in os.listdir('.') if f.endswith('.txt') for line in open(f, 'r')]

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [38]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [41]:
[i for mat in b for row in mat for i in row ]

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

In [42]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
#
#Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in.
#
#Note: If the number is a multiple of both 3 and 5, only count it once.

In [43]:
def multiple(n):
    return sum([i for i in range(n) if i % 3 == 0 or i % 5 == 0])

In [46]:
multiple(50)

543

In [47]:
#The Western Suburbs Croquet Club has two categories of membership, Senior and Open. They would like your help with an application form that will tell prospective members which category they will be placed.
#
#To be a senior, a member must be at least 55 years old and have a handicap greater than 7. In this croquet club, handicaps range from -2 to +26; the better the player the lower the handicap.
#
#Input
#Input will consist of a list of lists containing two items each. Each list contains information for a single potential member. Information consists of an integer for the person's age and an integer for the person's handicap.
#
#Note for F#: The input will be of (int list list) which is a List<List>
#
#Example Input
#[[18, 20],[45, 2],[61, 12],[37, 6],[21, 21],[78, 9]]
#Output
#Output will consist of a list of string values (in Haskell: Open or Senior) stating whether the respective member is to be placed in the senior or open category.
#
#Example Output
#["Open", "Open", "Senior", "Open", "Open", "Senior"]

In [48]:
def categorize(members):
    return ["Senior" if member[0] > 54 and member[1] > 6 else "Open" for member in members]

In [49]:
categorize([[18, 20],[45, 2],[61, 12],[37, 6],[21, 21],[78, 9]])

['Open', 'Open', 'Senior', 'Open', 'Open', 'Senior']

In [50]:
#You managed to send your friend to queue for tickets in your stead, but there is a catch: he will get there only if you tell him how much that is going to take. And everybody can only take one ticket at a time, then they go back in the last position of the queue if they need more (or go home if they are fine).
#
#Each ticket takes one minutes to emit, the queue is well disciplined, Brit-style, and so it moves smoothly, with no waste of time.
#
#You will be given an array/list/vector with all the people queuing and the initial position of your buddy, so for example, knowing that your friend is in the third position (that we will consider equal to the index, 2: he is the guy that wants 3 tickets!) and the initial queue is [2, 5, 3, 4, 6].
#
#The first dude gets his ticket and the queue goes now like this [5, 3, 4, 6, 1], then [3, 4, 6, 1, 4] and so on. In the end, our buddy will be queuing for 12 minutes, true story!
#
#Build a function to compute it, resting assured that only positive integers are going to be there and you will be always given a valid index; but we also want to go to pretty popular events, so be ready for big queues with people getting plenty of tickets.

In [58]:
def queue_time(queue, pos):
    return [(queue[i] - 1) * len(queue) + i for i in range(len(queue))]

In [59]:
queue_time([2, 5, 3, 4, 6], 2)

[5, 21, 12, 18, 29]

In [60]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

In [61]:
[x for row in a for x in row]

[0.84062117,
 0.48006452,
 0.7876326,
 0.77109654,
 0.44409793,
 0.09014516,
 0.81835917,
 0.87645456,
 0.7066597,
 0.09610873,
 0.41247947,
 0.57433389,
 0.29960807,
 0.42315023,
 0.34452557,
 0.4751035,
 0.17003563,
 0.46843998,
 0.92796258,
 0.69814654,
 0.41290051,
 0.19561071,
 0.16284783,
 0.97016248,
 0.71725408,
 0.87702738,
 0.31244595,
 0.76615487,
 0.20754036,
 0.57871812,
 0.07214068,
 0.40356048,
 0.12149553,
 0.53222417,
 0.9976855,
 0.12536346,
 0.80930099,
 0.50962849,
 0.94555126,
 0.33364763]

In [62]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [63]:
[x for mat in b for row in mat for x in row]

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

In [2]:
??range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [3]:
l = []
for i in range(30):
    if i % 2 == 0:
        for j in range(20, 50):
            if j + i < 40:
                l.append(i * j)

In [5]:
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 240, 252, 264, 276, 288, 300, 312, 324, 280, 294, 308, 322, 336, 350, 320, 336, 352, 368, 360, 378]

In [16]:
l = [i * j for i in range(30) if i % 2 == 0 
           for j in range(20, 50) if j + i < 40]

In [17]:
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 240, 252, 264, 276, 288, 300, 312, 324, 280, 294, 308, 322, 336, 350, 320, 336, 352, 368, 360, 378]

In [18]:
l = []
for i in range(10):
    l.append(i)

In [19]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
l = []
for helene in range(10):
    l.append(qzqzfj)

NameError: name 'qzqzfj' is not defined

In [23]:
[qzqzfj for helene in range(10)]

NameError: name 'qzqzfj' is not defined

In [25]:
[i ** 2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
[i + j for i in range(10) for j in range(20, 30) if j % 3 == 0]

[21,
 24,
 27,
 22,
 25,
 28,
 23,
 26,
 29,
 24,
 27,
 30,
 25,
 28,
 31,
 26,
 29,
 32,
 27,
 30,
 33,
 28,
 31,
 34,
 29,
 32,
 35,
 30,
 33,
 36]

In [28]:
l = [[1, 2, 3], [4, 5, 6], [7, 8]]

In [29]:
[i for l2 in l for i in l2]

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
l_flattened = []
for l2 in l:
    for i in l2:
        l_flattened.append(i)

In [31]:
l_flattened

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
[i for l2 in l for i in l2]

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
a = 2 if len(l) > 2 else 0

In [36]:
if len(l) > 2:
    a = 2
elif len(l) == 0:
    a = 1
else:
    a = 0

In [37]:
a

2

In [38]:
l = [[1, 2, 3], [4, 5, 6], [7, 8]]

In [39]:
l_helene = []
for i in range(10):
    l_helene.append(i if i % 2 == 0 else 3)
print(l_helene)

[0, 3, 2, 3, 4, 3, 6, 3, 8, 3]

In [40]:
[i if i % 2 == 0 else 3 for i in range(10)]

[0, 3, 2, 3, 4, 3, 6, 3, 8, 3]

In [41]:
def choice(i):
    if i % 2 == 0:
        return i
    elif i % 3 == 0:
        return i ** 2
    else:
        return 0

In [42]:
[choice(i) for i in range(10)]

[0, 0, 2, 9, 4, 0, 6, 0, 8, 81]

In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('file_1.txt')

In [45]:
df

   1 2 3
0  4 5 6

In [46]:
import os

In [47]:
os.listdir('.')

['file_1.txt',
 'file_2.txt',
 'file_3.txt',
 'list_comprehension.ipynb',
 'Pipfile',
 '.ipynb_checkpoints',
 'Pipfile.lock']

In [61]:
l = [pd.read_csv(fn, header=None, sep=' ') for fn in os.listdir('.') if fn.endswith('.txt')]

In [63]:
l

[   0  1  2
 0  1  2  3
 1  4  5  6,
     0   1   2
 0   7   8   9
 1  10  11  12,
     0   1   2
 0  13  14  15
 1  16  17  18]

In [62]:
pd.concat(l, axis=0)

    0   1   2
0   1   2   3
1   4   5   6
0   7   8   9
1  10  11  12
0  13  14  15
1  16  17  18

In [67]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]
l_ = []
for i in l:
    if i > 0:
        l_.append((1, 0))
    else:
        l_.append((0, i))
list(map(lambda x: ))

10
-65

In [70]:
print(sum([1 for i in l if i > 0]))
print(sum([i for i in l if i <= 0]))

10
-65

In [82]:
c1 = 0
c2 = 0
def count_pos_neg(i):
    global c1
    global c2
    if i > 0:
        c1 += 1
    else:
        c2 += i
    return (c1, c2)

In [83]:
[count_pos_neg(i) for i in l][-1]

(10, -65)

In [85]:
# u0 = first
# u(n+1) = u(n) + c

In [86]:
# u(n) = first + n * c

In [87]:
def arithmetic(first, c, n_el):
    return [first + i * c for i in range(n_el)]

In [88]:
arithmetic(3, 4, 10)

[3, 7, 11, 15, 19, 23, 27, 31, 35, 39]